In [1]:
import pandas as pd

In [2]:
df_ans = pd.read_csv("../preprocess_test_data.csv", index_col = 0)
df_ans['text_clean'] = df_ans['text_clean'].fillna('neutral')
df_ans.head()

,_id,text,task_1,task_2,task_3,task_4,text_clean
0,Gujarati_image_1225.jpg,॥વિંદેશીગામડિયો\r\n અ |,Non-Sarcastic,Neutral,Non Vulgar,Non-abusive,॥વિંદેશીગામડિયો\r\n અ |
1,Gujarati_image_1583.jpg,ટીચર : સૌથી વધારે દુખાવો ક્યારે\r\nથાય?\r\nછોક...,Sarcastic,Negative,Vulgar,Abusive,ટીચર : સૌથી વધારે દુખાવો ક્યારે\r\nથાય?\r\nછોક...
2,Gujarati_image_1502.jpg,પતિ: તુંમને જરાય પ્રેમ\r\nનથી કરતી...\r\n\r\nપ...,Sarcastic,Positive,Vulgar,Abusive,પતિ: તુંમને જરાય પ્રેમ\r\nનથી કરતી...\r\n\r\nપ...
3,Gujarati_image_1487.jpg,આખા ગોમ ના લોડા\r\nભોસ મા ભરી ને બેઠી\r\nહોય અ...,Sarcastic,Negative,Vulgar,Abusive,આખા ગોમ ના લોડા\r\nભોસ મા ભરી ને બેઠી\r\nહોય અ...
4,Gujarati_image_1497.jpg,મિનરલ વોટર સિવાય ક્યારેય\r\nબીજું\r\nપાણી નો પ...,Non-Sarcastic,Negative,Vulgar,Abusive,મિનરલ વોટર સિવાય ક્યારેય\r\nબીજું\r\nપાણી નો પ...

In [3]:
# !pip install scikit-learn == 0.13

In [4]:
import sklearn
sklearn.__version__

'1.3.0'

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidconverter = TfidfVectorizer(max_features=2000, min_df= 2)
X_test = tfidconverter.fit_transform(df_ans['text_clean']).toarray()

In [6]:
import pickle
# 加载模型和特征转换器
with open('vectorizer.pkl', 'rb') as f:
    tfidfconverter = pickle.load(f)
X_test = tfidfconverter.transform(df_ans['text_clean']).toarray()

In [7]:
print(len(X_test[1]))

296

In [8]:
import pickle
dt1 = pickle.load(open('finalized_svc_model1.sav', 'rb'))
dt2 = pickle.load(open('finalized_rfc_model1.sav', 'rb'))
dt3 = pickle.load(open('finalized_knc_model1.sav', 'rb'))

In [9]:
X_test = X_test[:, :1741]

In [10]:
pred_df = pd.DataFrame()
pred_svc = dt1.predict(X_test)
pred_df['SVC'] = pred_svc
pred_rfc = dt2.predict(X_test)
pred_df['RandomForest'] = pred_rfc
pred_knc = dt3.predict(X_test)
pred_df['Kneighbors'] = pred_knc

df_ans = df_ans.drop(['text', 'text_clean'], axis = 1)
df_ans = df_ans.reset_index()
df_ans = df_ans.drop(['index'], axis = 1)
df_ans = df_ans.drop(['task_1','task_2','task_3','task_4'],axis=1)
df_ans.head()

                       _id
0  Gujarati_image_1225.jpg
1  Gujarati_image_1583.jpg
2  Gujarati_image_1502.jpg
3  Gujarati_image_1487.jpg
4  Gujarati_image_1497.jpg

In [11]:
df_ans['label'] = pd.Series(pred_svc)
df_ans.to_csv('tfidf_svc.csv', index=False)
df_ans.head(20)

                        _id  label
0   Gujarati_image_1225.jpg      2
1   Gujarati_image_1583.jpg      0
2   Gujarati_image_1502.jpg      2
3   Gujarati_image_1487.jpg      0
4   Gujarati_image_1497.jpg      0
5   Gujarati_image_1623.jpg      2
6   Gujarati_image_1493.jpg      2
7   Gujarati_image_1492.jpg      0
8   Gujarati_image_1462.jpg      2
9   Gujarati_image_1500.jpg      2
10    Gujarati_image_19.jpg      2
11  Gujarati_image_1645.jpg      2
12   Gujarati_image_483.jpg      0
13  Gujarati_image_1630.jpg      2
14  Gujarati_image_1627.jpg      2
15  Gujarati_image_1501.jpg      2
16  Gujarati_image_1468.jpg      0
17  Gujarati_image_1087.jpg      2
18  Gujarati_image_1644.jpg      0
19  Gujarati_image_1504.jpg      0

In [12]:
df_ans['label'] = pd.Series(pred_rfc)
df_ans.to_csv('tfidf_rfc.csv', index= False)
df_ans.head(20)

                        _id  label
0   Gujarati_image_1225.jpg      0
1   Gujarati_image_1583.jpg      0
2   Gujarati_image_1502.jpg      2
3   Gujarati_image_1487.jpg      2
4   Gujarati_image_1497.jpg      0
5   Gujarati_image_1623.jpg      2
6   Gujarati_image_1493.jpg      0
7   Gujarati_image_1492.jpg      0
8   Gujarati_image_1462.jpg      2
9   Gujarati_image_1500.jpg      2
10    Gujarati_image_19.jpg      0
11  Gujarati_image_1645.jpg      2
12   Gujarati_image_483.jpg      0
13  Gujarati_image_1630.jpg      0
14  Gujarati_image_1627.jpg      2
15  Gujarati_image_1501.jpg      2
16  Gujarati_image_1468.jpg      2
17  Gujarati_image_1087.jpg      2
18  Gujarati_image_1644.jpg      0
19  Gujarati_image_1504.jpg      0

In [13]:
df_ans['label'] = pd.Series(pred_knc)
df_ans.to_csv('tfidf_knc.csv', index= False)
df_ans.head(20)

                        _id  label
0   Gujarati_image_1225.jpg      2
1   Gujarati_image_1583.jpg      0
2   Gujarati_image_1502.jpg      0
3   Gujarati_image_1487.jpg      0
4   Gujarati_image_1497.jpg      0
5   Gujarati_image_1623.jpg      0
6   Gujarati_image_1493.jpg      0
7   Gujarati_image_1492.jpg      0
8   Gujarati_image_1462.jpg      2
9   Gujarati_image_1500.jpg      0
10    Gujarati_image_19.jpg      0
11  Gujarati_image_1645.jpg      0
12   Gujarati_image_483.jpg      0
13  Gujarati_image_1630.jpg      2
14  Gujarati_image_1627.jpg      2
15  Gujarati_image_1501.jpg      0
16  Gujarati_image_1468.jpg      0
17  Gujarati_image_1087.jpg      0
18  Gujarati_image_1644.jpg      0
19  Gujarati_image_1504.jpg      0

In [14]:
pred_df['res'] = pred_df.mode(axis = 1)[0].astype(int)
pred_df.head()
res = pred_df['res'].tolist()

In [15]:
res

[2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0]

In [16]:
res[0]

2

In [17]:
label = []
for i in range(len(res)):
    ans = res[i]
    if (ans == 0):
        label.append('Negative')
    elif (ans == 1):
        label.append('Neutral')
    elif (ans == 2):
        label.append('Positive')

In [18]:
label

['Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Neutral',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Neutral',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Neutral',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Neutral',
 'Positive',
 'Positive',
 'Neutral',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Neutral',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Neutral',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Neutral',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Neutral',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Negative']

In [19]:
df_res = pd.DataFrame()
df_res['_id'] = df_ans['_id']
df_res['label'] = label

In [20]:
df_res

                         _id     label
0    Gujarati_image_1225.jpg  Positive
1    Gujarati_image_1583.jpg  Negative
2    Gujarati_image_1502.jpg  Positive
3    Gujarati_image_1487.jpg  Negative
4    Gujarati_image_1497.jpg  Negative
..                       ...       ...
599   Gujarati_image_997.jpg  Positive
600   Gujarati_image_378.jpg  Negative
601  Gujarati_image_1070.jpg  Negative
602   Gujarati_image_671.jpg  Negative
603  Gujarati_image_1038.jpg  Negative

[604 rows x 2 columns]

In [21]:
df_res.to_csv('tfidf_overall.csv', index=False)

In [22]:
f_ans = pd.read_csv("./tfidf_rfc.csv", index_col = 0)

df_ans.head()

                       _id  label
0  Gujarati_image_1225.jpg      2
1  Gujarati_image_1583.jpg      0
2  Gujarati_image_1502.jpg      0
3  Gujarati_image_1487.jpg      0
4  Gujarati_image_1497.jpg      0

In [23]:
res = f_ans['label']
res

_id
Gujarati_image_1225.jpg    0
Gujarati_image_1583.jpg    0
Gujarati_image_1502.jpg    2
Gujarati_image_1487.jpg    2
Gujarati_image_1497.jpg    0
                          ..
Gujarati_image_997.jpg     2
Gujarati_image_378.jpg     0
Gujarati_image_1070.jpg    2
Gujarati_image_671.jpg     0
Gujarati_image_1038.jpg    0
Name: label, Length: 604, dtype: int64

In [24]:
label = []
for i in range(len(res)):
    ans = res[i]
    if (ans == 0):
        label.append('Negative')
    elif (ans == 1):
        label.append('Neutral')
    elif (ans == 2):
        label.append('Positive')

In [25]:
df_res = pd.DataFrame()
df_res['_id'] = df_ans['_id']
df_res['label'] = label

In [26]:
df_res

                         _id     label
0    Gujarati_image_1225.jpg  Negative
1    Gujarati_image_1583.jpg  Negative
2    Gujarati_image_1502.jpg  Positive
3    Gujarati_image_1487.jpg  Positive
4    Gujarati_image_1497.jpg  Negative
..                       ...       ...
599   Gujarati_image_997.jpg  Positive
600   Gujarati_image_378.jpg  Negative
601  Gujarati_image_1070.jpg  Positive
602   Gujarati_image_671.jpg  Negative
603  Gujarati_image_1038.jpg  Negative

[604 rows x 2 columns]

In [27]:
df_res.to_csv('tfidf_rfc.csv', index=False)

In [28]:
f_ans = pd.read_csv("./tfidf_knc.csv", index_col = 0)

df_ans.head()

                       _id  label
0  Gujarati_image_1225.jpg      2
1  Gujarati_image_1583.jpg      0
2  Gujarati_image_1502.jpg      0
3  Gujarati_image_1487.jpg      0
4  Gujarati_image_1497.jpg      0

In [29]:
res = f_ans['label']
res

_id
Gujarati_image_1225.jpg    2
Gujarati_image_1583.jpg    0
Gujarati_image_1502.jpg    0
Gujarati_image_1487.jpg    0
Gujarati_image_1497.jpg    0
                          ..
Gujarati_image_997.jpg     2
Gujarati_image_378.jpg     0
Gujarati_image_1070.jpg    0
Gujarati_image_671.jpg     0
Gujarati_image_1038.jpg    0
Name: label, Length: 604, dtype: int64

In [30]:
label = []
for i in range(len(res)):
    ans = res[i]
    if (ans == 0):
        label.append('Negative')
    elif (ans == 1):
        label.append('Neutral')
    elif (ans == 2):
        label.append('Positive')

In [31]:
df_res = pd.DataFrame()
df_res['_id'] = df_ans['_id']
df_res['label'] = label

In [32]:
df_res

                         _id     label
0    Gujarati_image_1225.jpg  Positive
1    Gujarati_image_1583.jpg  Negative
2    Gujarati_image_1502.jpg  Negative
3    Gujarati_image_1487.jpg  Negative
4    Gujarati_image_1497.jpg  Negative
..                       ...       ...
599   Gujarati_image_997.jpg  Positive
600   Gujarati_image_378.jpg  Negative
601  Gujarati_image_1070.jpg  Negative
602   Gujarati_image_671.jpg  Negative
603  Gujarati_image_1038.jpg  Negative

[604 rows x 2 columns]

In [33]:
df_res.to_csv('tfidf_knc.csv', index=False)

In [34]:
f_ans = pd.read_csv("./tfidf_svc.csv", index_col = 0)
df_ans.head()

                       _id  label
0  Gujarati_image_1225.jpg      2
1  Gujarati_image_1583.jpg      0
2  Gujarati_image_1502.jpg      0
3  Gujarati_image_1487.jpg      0
4  Gujarati_image_1497.jpg      0

In [35]:
res = f_ans['label']
res

_id
Gujarati_image_1225.jpg    2
Gujarati_image_1583.jpg    0
Gujarati_image_1502.jpg    2
Gujarati_image_1487.jpg    0
Gujarati_image_1497.jpg    0
                          ..
Gujarati_image_997.jpg     2
Gujarati_image_378.jpg     0
Gujarati_image_1070.jpg    1
Gujarati_image_671.jpg     2
Gujarati_image_1038.jpg    2
Name: label, Length: 604, dtype: int64

In [36]:
label = []
for i in range(len(res)):
    ans = res[i]
    if (ans == 0):
        label.append('Negative')
    elif (ans == 1):
        label.append('Neutral')
    elif (ans == 2):
        label.append('Positive')

In [37]:
df_res = pd.DataFrame()
df_res['_id'] = df_ans['_id']
df_res['label'] = label

In [38]:
df_res

                         _id     label
0    Gujarati_image_1225.jpg  Positive
1    Gujarati_image_1583.jpg  Negative
2    Gujarati_image_1502.jpg  Positive
3    Gujarati_image_1487.jpg  Negative
4    Gujarati_image_1497.jpg  Negative
..                       ...       ...
599   Gujarati_image_997.jpg  Positive
600   Gujarati_image_378.jpg  Negative
601  Gujarati_image_1070.jpg   Neutral
602   Gujarati_image_671.jpg  Positive
603  Gujarati_image_1038.jpg  Positive

[604 rows x 2 columns]

In [39]:
df_res.to_csv('tfidf_svc.csv', index=False)